<h3> Modification d'un produit</h3>
<div class="container">
    <form (ngSubmit)="modifierprod()">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id"> id</label>
                <input type="text" name="id" placeholder="id" class="form-control" [(ngModel)]="produit.id">
            </div>
            <div class="col-md-6 mb-3">
                <label>Désignation</label>
                <input type="text" name="designation" placeholder="Désignation" class="form-control" [(ngModel)]="produit.designation">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Prix</label>
                <input type="number" name="prix" placeholder="Prix" class="form-control" [(ngModel)]="produit.prix">
            </div>
            <div class="col-md-6 mb-3">
                <label>Quantité</label>
                <input type="number" name="qte" placeholder="Quantité" class="form-control" [(ngModel)]="produit.qte">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Description</label>
                <textarea name="description" class="form-control" placeholder="Description" rows="10"[(ngModel)]="produit.description"></textarea>
            </div>
            <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-success"> Modifier </button>
            </div>
        </div>
    </form>
</div>