<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#">All Project Angular</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" routerLink="/"> <span class="fa fa-home fa-lg"></span> Home</a></li>
                <li><a class="nav-link" routerLink="/produits"><i class="fa fa-shopping-bag"></i>Produits</a></li>
                <li><a class="nav-link" routerLink="/livres"><i class="fa fa-book"></i>Livres</a></li>
                <li><a class="nav-link" routerLink="/about"><i class="fa fa-info fa-lg"></i> About</a></li>
                <li><a class="nav-link" routerLink="/contact"><i class="fa fa-address-card fa-lg"></i> Contact</a></li>
                <li><a class="nav-link" routerLink="/signin"><i class="fa fa-sign-in"></i>Signin</a></li>
            </ul>
        </div>
    </div>
</nav>