<h3>Liste des produits</h3>
<div class="container">
    <div class="col-md-2">
        <input type="button" value="Ajouter" class="btn btn-success" routerLink="/ajoutproduit">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Désignation</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-life" *ngFor="let p of produits">
                <th scope="row">{{p.id}}</th>
                <td>{{p.designation}}</td>
                <td>{{p.prix}}</td>
                <td>{{p.qte}}</td>
                <td>{{p.description}}</td>
                <td>
                    <input type="button" value="Modifier" class="btn btn-info btn-sm"
                        [routerLink]="['/editproduit/', p.id]">
                    <input type="button" value="Supprimer" class="btn btn-danger btn-sm" (click)="Deleteproduit(p.id)">
                </td>
            </tr>
        </tbody>
    </table>
</div>